# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
README.md
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
**/target/
**/.DS_Store
deploy.sh
docker-compose.yml
.idea