<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.theymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking Reminder</title>
</head>
<body style="line-height: 22px;">
    Hi, <span style="font-weight: bold" th:text="${name}"></span>,
    <p>This is a curtsy reminder of your booking for tomorrow.<br>
    Please get prepared for your following booking:</p>
    <div style='background-color: rgb(201,248,191); display: inline-block; border-radius: 4px; border-left: 4px solid cadetblue; padding: 8px 16px'>
        Room: <span style='font-weight: bold' th:text="${roomTitle}"></span><br>
        Starting from <span style='font-weight: bold' th:text="${startTime}"></span>
    </div>
    <br>
    <p>Best regards,<br>
    TheBreak Team</p>
</body>
</html>