<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.theymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking Reminder</title>
</head>
<body>
    Hi, <span style="font-weight: bold" th:text="${name}"></span>,
    <p>This is a curtsy reminder of your booking for tomorrow.</p>
    <p>Please get prepared for your following booking</p>
    <div style='background-color: rgb(255, 255, 245); border-left: 4px solid cadetblue; padding: 8px 16px'>
        Room: <span style='font-weight: bold' th:text="${roomTitle}"></span>
        <p>Total booking of <span style='font-weight: bold' th:text="${hours}"></span> hours starting from <span style='font-weight: bold' th:text="${startTime}"></span></p>
    </div>
    <p>You can check in ahead of the booking time.</p>
    <p>Best regards,</p>
    <p>TheBreak Team</p>
</body>
</html>